In [18]:
import pandas as pd
import numpy as np 
from scipy import sparse

from sklearn.datasets import load_svmlight_file
data = load_svmlight_file("aclImdb/train/labeledBow.feat")
x = data[0]
y = data[1]
x

<25000x89527 sparse matrix of type '<class 'numpy.float64'>'
	with 3456685 stored elements in Compressed Sparse Row format>

In [13]:
bow_features_list = []
word_ids = set()

sets = ["train", "test"]


with open("aclImdb/train/labeledBow.feat") as bow_file:
    lines = bow_file.readlines()

    for line in lines:
        splits = line.split(" ")
        rating = int(splits[0])

        word_to_count = {}
        #row_features = {}
        for word_count in splits[1:]:
            word_id, count = word_count.split(":")
            word_id = int(word_id)
            count = int(count)
            word_to_count[word_id] = count
            #row_features[word_id] = count
            word_ids.add(word_id)

        bow_features_list.append({
            "rating" : rating,
            "matrix" : word_to_count
        })
df = pd.DataFrame(bow_features_list)
pd.DataFrame(dict(df.head()['matrix']))

         0    1    2     3     4
0      9.0  7.0  4.0  10.0  13.0
1      1.0  4.0  4.0   2.0   9.0
2      4.0  2.0  4.0   2.0   6.0
3      4.0  2.0  7.0   NaN   4.0
4      6.0  NaN  2.0   3.0   2.0
...    ...  ...  ...   ...   ...
20442  NaN  NaN  NaN   NaN   1.0
32930  NaN  NaN  NaN   NaN   1.0
54535  NaN  NaN  NaN   NaN   1.0
66517  NaN  NaN  NaN   NaN   1.0
87947  NaN  NaN  NaN   NaN   1.0

[371 rows x 5 columns]

In [10]:
dict.fromkeys([1,2,3])

{1: None, 2: None, 3: None}

In [17]:
words = dict((k, 0) for k in cols)

In [20]:
words[cols[2]] =5
words[cols[3]] =5

In [ ]:
matrix = pd.DataFrame(df['matrix'].tolist()).fillna(0)

In [4]:
df_trunc = df.head()

In [ ]:
pd.DataFrame(df_trunc['matrix'].tolist()).fillna(0)